<!doctype html>
<html lang="en" data-ng-app="toDoApp">
	<head>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
		<title>Celonis Code Sample • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/style.css">

		<!-- html5.js for IE8 support of HTML5 elements:
             respond.js for bootstrap support in IE8: -->
        <!--[if IE]>
		<script type="text/javascript" src="assets/js/html5shiv.js"></script>
		<script type="text/javascript" src="assets/js/respond.js"></script>
		<![endif]-->
	</head>
	<body>
		<section id="todoapp" ng-controller="toDoController">
			<header id="header">
				<h1>Celonis Sample</h1>
				<form ng-submit="addTodo()">
					<input id="new-todo" placeholder="What needs to be done?" autofocus ng-model="newTodo" required> 
					<!-- my-enter="addTodo()" ng-model="newTodo" -->
				</form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main">
				<input id="toggle-all" type="checkbox" ng-click="checkAll();" ng-model="allChecked">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list" ui-view> <!-- ui-view -->
					
				</ul>
				<!-- 
					<li ng-repeat="todo in todos | filter : getFilterOrNo(todo);" ng-class="completed" ng-dblclick="editTodo();">
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.done" ng-click="updateCompleted();">
							<label>{{todo.title}}</label>
							<button class="destroy" ng-click="removeTodo(todo);"></button>
						</div>
						<input class="edit" ng-model="todo.title">
					</li>
				-->
				<ul id="todo-list1">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li class="completed">
						<div class="view">
							<input class="toggle" type="checkbox" checked>
							<label>Celonis Code Sample</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Celonis Code Sample">
					</li>
                    <li class="editing">
						<div class="view">
							<input class="toggle" type="checkbox" checked>
							<label>Celonis Code Sample Edit</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Celonis Code Sample Edit">
					</li>
					<li>
						<div class="view">
							<input class="toggle" type="checkbox">
							<label>Rule the web</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer id="footer">
				<!-- This should be `0 items left` by default -->
				<span id="todo-count"><strong>{{leftCount}}</strong> items left</span>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters">
					<li>
						<a class="selected" href="#/all">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed" ng-click="clearCompleted();">Clear completed ({{completedCount}})</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Click the checkmark to mark done</p>
			<p>Click the X to delete</p>
			<p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
			<p>Celonis Code Sample, <a href="http://www.celonis.de">Celonis GmbH</a></p>
		</footer>
		<!-- Scripts here. Don't remove this ↓ -->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>
