<!doctype html>
<html lang="en" data-ng-app="toDoApp" ng-cloak>
	<head>
		<meta name="keywords" content="">
        <meta name="description" content="">
		<meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
		<link rel="icon" type="images/x-icon" href="assets/images/favicon.ico">
		<title>Celonis Code Sample • TodoMVC</title>
		<link rel="stylesheet" href="bower_components/todomvc-common/base.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="assets/css/style.css">

		<!-- html5.js for IE8 support of HTML5 elements:
             respond.js for bootstrap support in IE8: -->
        <!--[if IE]>
        	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
			<script src="bower_components/respond/dest/respond.min.js"></script>
		<![endif]-->

		<!--script type="text/javascript" src="assets/js/html5shiv.js"></script -->
		<!--script type="text/javascript" src="assets/js/respond.js"></script-->
	</head>
	<body>
		<section id="todoapp" ng-controller="toDoController">
			<header id="header">
				<h1>Celonis Sample</h1>
				<form ng-submit="addTodo()">
					<input id="new-todo" placeholder="What needs to be done?" autofocus ng-model="newTodo" required> 
					<!-- my-enter="addTodo()" ng-model="newTodo" -->
				</form>
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section id="main">
				<input id="toggle-all" type="checkbox" ng-click="checkAll();" ng-model="allChecked">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list"> <!-- ui-view -->
					<li ng-repeat="todo in todos" data-ng-show="showFilter(todo.done);" data-ng-class="{'completed': todo.done,'editing': todo.editing}" ng-dblclick="editTodo(todo);" my-enter="saveEdited(todo);"> <!-- ng-mouseleave="saveEdited(todo);"-->
						<div class="view">
							<input class="toggle" type="checkbox" ng-model="todo.done" ng-click="updateCompleted();">
							<label>{{todo.title}}</label>
							<button class="destroy" ng-click="removeTodo(todo);"></button>
						</div>
						<input class="edit" ng-model="todo.title" ng-show="todo.editing" focus-on-show>
					</li>	
				</ul>
				
				<ul id="todo-list1">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li class="completed">
						<div class="view">
							<input class="toggle" type="checkbox" checked>
							<label>Celonis Code Sample</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Celonis Code Sample">
					</li>
                    <li class="editing">
						<div class="view">
							<input class="toggle" type="checkbox" checked>
							<label>Celonis Code Sample Edit</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Celonis Code Sample Edit">
					</li>
					<li>
						<div class="view">
							<input class="toggle" type="checkbox">
							<label>Rule the web</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer id="footer" ng-show="todos.length">
				<!-- This should be `0 items left` by default -->
				<span id="todo-count"><strong>{{leftCount}}</strong> items left</span>
				<!-- Remove this if you don't implement routing -->
				<ul id="filters">
					<li>
						<a href="#" ng-class="{'selected': filter=='all'}" ng-click="filter='all'">All</a>
					</li>
					<li>
						<a href="#" ng-class="{'selected': filter=='active'}" ng-click="filter='active'">Active</a>
					</li>
					<li>
						<a href="#" ng-class="{'selected': filter=='completed'}" ng-click="filter='completed'">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button id="clear-completed" ng-click="clearCompleted();">Clear completed ({{completedCount}})</button>
			</footer>
		</section>
		<footer id="info">
			<p>Double-click to edit a todo</p>
			<p>Click the checkmark to mark done</p>
			<p>Click the X to delete</p>
			<p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
			<p>Celonis Code Sample, <a href="http://www.celonis.de">Celonis GmbH</a></p>
		</footer>
		<!-- Scripts here. Don't remove this ↓ -->
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="app/app.js"></script>
		<script type="text/javascript" src="app/directives/directives.js"></script>
		<script type="text/javascript" src="app/services/services.js"></script>
		<script type="text/javascript" src="app/controllers/controllers.js"></script>

	</body>
</html>
