<ul id="todo-list"> <!-- ui-view -->
	<li ng-repeat="todo in todos" data-ng-class="{'completed': todo.done,'editing': todo.editing}" ng-dblclick="editTodo(todo);" my-enter="saveEdited(todo);"> <!-- ng-mouseleave="saveEdited(todo);"-->
		<div class="view">
			<input class="toggle" type="checkbox" ng-model="todo.done" ng-click="updateCompleted();">
			<label>{{todo.title}}</label>
			<button class="destroy" ng-click="removeTodo(todo);"></button>
		</div>
		<input class="edit" ng-model="todo.title">
	</li>	
</ul>